*{
    margin: 0 auto;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #95d2c1, transparent),
    linear-gradient(to bottom, #91c5ad, transparent);
}

